<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تطبيق التبرع بالدم</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- تضمين الرأس -->
    {{ template "dash_header.html" . }}

    <main>
        <section>
            <h2>من نحن</h2>
            <p>نحن مبادرة بلودسآب</p> 
            <p>مرحبًا بالمتطوعين!</p>
        </section>
        <section>
            <h2>كيف يعمل</h2>
            <p>يتيح لك تطبيقنا:</p>
            <ul>
                <li>التسجيل كمتبرع بالدم</li>
                <li>العثور على المرضى المحتاجين للدم</li>
                <li>التبرع بخلايا الدم الحمراء والصفائح الدموية</li>
                <li>مطابقة المتبرعين مع المرضى بناءً على توافق فصيلة الدم</li>
            </ul>
        </section>
        <section>
            <h2>ابدأ الآن</h2>
            <p>لبدء الاستخدام، استخدم قائمة التنقل لاستكشاف تطبيقنا والعثور على المعلومات التي تحتاجها.</p>
        </section>
    </main>
</body>
</html>