<!DOCTYPE html>
<html>
<head>
    <title>Donors List - Blood Donation App</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <!-- Include the header -->
    {{ template "dash_header.html" . }}
    <main>
        <section>
            <h2>قائمة المتبرّعين</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>الاسم</th>
                        <th>اللقب</th>
                        <th>زمرة الدم</th>
                        <th>رقم الهاتف</th>
                        <th>المنطقة</th>
                        <th>عدّاد الدم الأحمر</th>
                        <th>عدّاد الصّفائح</th>
                        <th>مرّات التبرّع</th>
                        <th>تعديل</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .donors }}
                    <tr>
                        <td>{{ .ID }}</td>
                        <td>{{ .FirstName }}</td>
                        <td>{{ .LastName }}</td>
                        <td>{{ .BloodType }}</td>
                        <td><a href="https://wa.me/{{.PhoneNumber}}" dir="ltr">{{ .PhoneNumber }}</a></td>
                        <td>{{ .Address.DistrictName }}</td>
                        <td>{{ .RedTimer }}</td>
                        <td>{{ .PlateletTimer }}</td>
                        <td>{{ .Score }}</td>
                        <td><a href="/update_donor/{{ .ID }}">تعديل</a></td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </section>
    </main>
</body>
</html>