<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <footer>
        <p>&copy; 2024 BloodsApp. All rights reserved.</p>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/donors">Donors</a></li>
                <li><a href="/patients">Patients</a></li>
                <li><a href="https://github.com/abdulkarim1422/BloodsApp" target="_blank">GitHub</a></li>
            </ul>
        </nav>
        <div class="contact">
            <a href="https://wa.me/905366701468" target="_blank">
                <button>WhatsApp</button>
            </a>
        </div>

    </footer>
</body>
</html>