<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<footer>
    <div class="main">
        <div class="footer">
            <div class="bubbles">
                <!-- Generate bubbles dynamically -->
                <script>
                    for (var i = 0; i < 128; i++) {
                        var bubble = document.createElement('div');
                        bubble.className = 'bubble';
                        bubble.style = `--size:${2+Math.random()*4}rem; --distance:${6+Math.random()*4}rem; --position:${-5+Math.random()*110}%; --time:${2+Math.random()*2}s; --delay:${-1*(2+Math.random()*2)}s;`;
                        document.querySelector('.bubbles').appendChild(bubble);
                    }
                </script>
            </div>
            <div class="content">
                <div>
                    <a class="image" href="https://github.com/abdulkarim1422/BloodsApp" target="_blank" style="background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/199011/happy.svg')"></a>
                    <p>©2024 BloodsApp</p>
                </div>
            </div>
        </div>
    </div>
    <svg style="position:fixed; top:100vh">
        <defs>
            <filter id="blob">
                <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"></feGaussianBlur>
                <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="blob"></feColorMatrix>
            </filter>
        </defs>
    </svg>
</footer>
</body>
</html>
