<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard - BloodsApp</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <header>
        <h1>BloodsApp</h1>
        <nav>
            <ul>
                <li><a href="/">الصفحة الرئيسيّة</a></li>
                <li><a href="/donors">قائمة المتبرّعين</a></li>
                <li><a href="/patients">قائمة المرضى</a></li>
            </ul>
            <ul>
                <li><a href="/patient_form">فورم المريض</a></li>
                <li><a href="/donor_form">فورم المتبرع</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>