<!DOCTYPE html>
<html dir="rtl">
<head>
    <title>تسجيل المريض - تطبيق التبرع بالدم</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <style>
        option:disabled {
            color: gray;
        }
    </style>
</head>
<body>
    <!-- Include the header -->
    {{ template "index_header.html" . }}
    <main>
        <section>
            <h2>تسجيل المريض</h2>
            <form id="patientForm">
                <label for="first_name">الاسم الأول:</label>
                <input type="text" id="first_name" name="FirstName" required>
                
                <label for="last_name">اسم العائلة:</label>
                <input type="text" id="last_name" name="LastName" required>
                
                <label for="blood_type">فصيلة الدم:</label>
                <select id="blood_type" name="BloodType" required>
                    <option value="" selected disabled>اختر فصيلة الدم</option>
                    <option value="A+">A+</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B-">B-</option>
                    <option value="AB+">AB+</option>
                    <option value="AB-">AB-</option>
                    <option value="O+">O+</option>
                    <option value="O-">O-</option>
                </select>
                
                <label for="birth_date">تاريخ الميلاد:</label>
                <input type="date" id="birth_date" name="BirthDate" required>
                
                <label for="gender">الجنس:</label>
                <select id="gender" name="Gender" required>
                    <option value="" selected disabled>اختر الجنس</option>
                    <option value="male">ذكر</option>
                    <option value="female">أنثى</option>
                </select>
                
                <label for="phone">رقم الهاتف:</label>
                <input type="text" id="phone" name="PhoneNumber" required>
                
                <label for="address">العنوان:</label>
                <input type="text" id="address" name="Address" required>
                
                <label for="urgency">درجة الاستعجال:</label>
                <select id="urgency" name="Urgency" required>
                    <option value="" selected disabled>اختر درجة الاستعجال</option>
                    <option value="5">أحتاجهم خلال هذا الشهر</option>
                    <option value="4">أحتاجهم خلال هذا الأسبوع</option>
                    <option value="3">أحتاجهم غداً في أي وقت</option>
                    <option value="2">أحتاجهم غداً باكراً</option>
                    <option value="1">أحتاجهم اليوم</option>
                </select>
                
                <label for="red_quantity">عدد أكياس الدم الحمراء اللازمة:</label>
                <select id="red_quantity" name="RedRequired" required>
                    <option value="" selected disabled>اختر عدد الأكياس</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                
                <label for="platelet_quantity">عدد أكياس الصفائح الدموية اللازمة:</label>
                <select id="platelet_quantity" name="PlateletRequired" required>
                    <option value="" selected disabled>اختر عدد الأكياس</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>

                <label for="carAvailable">هل السيارة متاحة:</label>
                <select id="carAvailable" name="CarAvailable" required>
                    <option value="" selected disabled>اختر</option>
                    <option value="false">لا</option>
                    <option value="true">نعم</option>
                </select>
                
                <button type="submit">إرسال</button>
            </form>

            <div id="verificationSection" style="display:none;">
                <label for="verification_code">رمز التحقق:</label>
                <p>سيتم إرسال رمز التحقق إلى رقم الواتساب الخاص بك في غضون 45 ثانية.</p>
                <input type="text" id="verification_code" name="VerificationCode" required>
                <button id="verifyButton">تحقق</button>
            </div>
        </section>
    </main>
    <!-- Include the footer -->
    {{ template "footer.html" . }}
    <script>
        document.getElementById('phone').addEventListener('input', function (e) {
            if (!this.value.startsWith('+')) {
                this.value = '+' + this.value;
            }
        });

        document.getElementById('patientForm').addEventListener('submit', function(e) {
            e.preventDefault();
            const formData = new FormData(this);
            fetch('/patients', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    alert(data.error);
                } else {
                    document.getElementById('patientForm').style.display = 'none';
                    document.getElementById('verificationSection').style.display = 'block';
                    localStorage.setItem('patientId', data.id);
                }
            })
            .catch(error => console.error('Error:', error));
        });

        document.getElementById('verifyButton').addEventListener('click', function() {
            const verificationCode = document.getElementById('verification_code').value;
            const patientId = localStorage.getItem('patientId');
            fetch(`/verify-patient/${patientId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ verificationCode })
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    alert(data.error);
                } else {
                    alert('تم التحقق بنجاح');
                    window.location.href = '/patients';
                }
            })
            .catch(error => console.error('Error:', error));
        });
    </script>
</body>
</html>