<!DOCTYPE html>
<html>
<head>
    <title>قائمة المرضى</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <!-- Include the header -->
    {{ template "dash_header.html" . }}
    <main>
        <section>
            <h2>قائمة المرضى</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>الاسم</th>
                        <th>زمرة الدم</th>
                        <th>رقم الهاتف</th>
                        <th>المشفى</th>
                        <th>عدد أكياء الدم الحمراء المحتاجة</th>
                        <th>عدد أكياء الدم الحمراء المستلمة</th>
                        <th>عدد أكياس الصفيحات المحتاجة</th>
                        <th>عدد أكياس الصفيحات المستلمة</th>
                        <th>وسيلة النقل</th>
                        <th>تعديل</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .patients }}
                    <tr>
                        <td>{{ .ID }}</td>
                        <td>{{ .LatinName }}</td>
                        <td>{{ .BloodType }}</td>
                        <td><a href="https://wa.me/{{.PhoneNumber}}" dir="ltr" target="_blank">{{ .PhoneNumber }}</a></td>
                        <td>{{ .Address.HospitalName }}</td>
                        <td><strong>{{ .RedRequired }}</strong></td>
                        <td>{{ .RedReceived }}</td>
                        <td><strong>{{ .PlateletRequired }}</strong></td>
                        <td>{{ .PlateletReceived }}</td>
                        <td>{{ .Transportation }}</td>
                        <td><a href="/update_patient/{{ .ID }}">تعديل</a></td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </section>
    </main>
</body>
</html>