<!DOCTYPE html>
<html>
<head>
    <title>Patients List - Blood Donation App</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <!-- Include the header -->
    {{ template "header.html" . }}
    <main>
        <section>
            <h2>قائمة المرضى</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>الاسم</th>
                        <th>اللقب</th>
                        <th>زمرة الدم</th>
                        <th>رقم الهاتف</th>
                        <th>العنوان</th>
                        <th>الطارئية</th>
                        <th>عدد أكياء الدم الحمراء المحتاجة</th>
                        <th>عدد أكياء الدم الحمراء المستلمة</th>
                        <th>عدد أكياس الصفيحات المحتاجة</th>
                        <th>عدد أكياس الصفيحات المستلمة</th>
                        <th>توفّر سيارة</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .patients }}
                    <tr>
                        <td>{{ .ID }}</td>
                        <td>{{ .FirstName }}</td>
                        <td>{{ .LastName }}</td>
                        <td>{{ .BloodType }}</td>
                        <td>{{ .PhoneNumber }}</td>
                        <td>{{ .Address }}</td>
                        <td>{{ .Urgency }}</td>
                        <td><strong>{{ .RedRequired }}</strong></td>
                        <td>{{ .RedReceived }}</td>
                        <td><strong>{{ .PlateletRequired }}</strong></td>
                        <td>{{ .PlateletReceived }}</td>
                        <td>{{ .CarAvailable }}</td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </section>
    </main>
    <!-- Include the footer -->
    {{ template "footer.html" . }}    
</body>
</html>