<!DOCTYPE html>
<html dir="rtl">
<head>
    <title>تسجيل المريض - تطبيق التبرع بالدم</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <!-- Include the header -->
    {{ template "header.html" . }}
    <main>
        <section>
            <h2>تسجيل المريض</h2>
            <form action="/patients" method="POST">
                <label for="first_name">الاسم الأول:</label>
                <input type="text" id="first_name" name="FirstName" required>
                
                <label for="last_name">اسم العائلة:</label>
                <input type="text" id="last_name" name="LastName" required>
                
                <label for="blood_type">فصيلة الدم:</label>
                <select id="blood_type" name="BloodType" required>
                    <option value="A+">A+</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B-">B-</option>
                    <option value="AB+">AB+</option>
                    <option value="AB-">AB-</option>
                    <option value="O+">O+</option>
                    <option value="O-">O-</option>
                </select>
                
                <label for="birth_date">تاريخ الميلاد:</label>
                <input type="date" id="birth_date" name="BirthDate" required>
                
                <label for="gender">الجنس:</label>
                <select id="gender" name="Gender" required>
                    <option value="male">ذكر</option>
                    <option value="female">أنثى</option>
                </select>
                
                <label for="phone">رقم الهاتف:</label>
                <input type="text" id="phone" name="Phone" required>
                
                <label for="address">العنوان:</label>
                <input type="text" id="address" name="Address" required>
                
                <label for="urgency">درجة الاستعجال:</label>
                <input type="number" id="urgency" name="Urgency" required>
                
                <label for="red_quantity">كمية الدم الأحمر:</label>
                <select id="red_quantity" name="RedQuantity" required>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                
                <label for="platelet_quantity">كمية الصفائح الدموية:</label>
                <select id="platelet_quantity" name="PlateletQuantity" required>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>

                <label for="carAvailable">هل السيارة متاحة:</label>
                <select id="carAvailable" name="CarAvailable">
                  <option value="false">لا</option>
                  <option value="true">نعم</option>
                </select>
                                
                                
                <button type="submit">إرسال</button>
            </form>
        </section>
    </main>
    <!-- Include the footer -->
    {{ template "footer.html" . }}
    <script>
        document.getElementById('phone').addEventListener('input', function (e) {
            if (!this.value.startsWith('+')) {
                this.value = '+' + this.value;
            }
        });
    </script>
</body>
</html>