<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <!-- Include the header -->
    {{ template "index_header.html" . }}
    
    <div class="container mt-5">
        <h1 class="mb-4 text-center" dir="rtl">{{ .title }}</h1>
        <h1 class="mb-4 text-center" dir="rtl">رقم الطّلب: {{ .request.ID }}</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body text-right">
                        <h5 class="card-title"><strong>معلومات المريض</strong></h5>
                        <h2>{{ .patient.LatinName }}</h2>
                        <p class="card-text">رقم الهاتف: <a href="https://wa.me/{{.patient.PhoneNumber}}" dir="ltr" target="_blank" class="btn btn-primary" style="background-color: green;border-color: greenyellow;">{{ .patient.PhoneNumber }}</a></p>
                        <p>المشفى: <a href="#" class="btn btn-primary" style="background-color: grey;">{{ .patient.Address.HospitalName }}</a></p>
                        <p>زمرة الدم: <a href="#" class="btn btn-primary">{{ .patient.BloodType }}</a></p>
                        <p>عدد أكياس الدم الحمراء المحتاجة: <a href="#" class="btn btn-secondary">{{ .patient.RedRequired }}</a></p>
                        <p>عدد أكياس الصفيحات المحتاجة: <a href="#" class="btn btn-secondary">{{ .patient.PlateletRequired }}</a></p>
                        <p>القرابة: <strong>
                            {{ if eq .patient.Relationship "self" }}المريض نفسه{{ end }}
                            {{ if eq .patient.Relationship "family" }}أحد أفراد العائلة{{ end }}
                            {{ if eq .patient.Relationship "friend" }}صديق{{ end }}
                            {{ if eq .patient.Relationship "other" }}آخر{{ end }}
                        </strong></p>
                        <p>كود الهلال الأحمر: <strong>{{ .patient.RedCrescentCode }}</strong></p>
                        <p>الحالة: <strong>
                            {{ if eq .patient.Urgency 6 }}أحتاجهم خلال هذا الشهر{{end}}
                            {{ if eq .patient.Urgency 5 }}أحتاجهم خلال هذا الأسبوع{{end}}
                            {{ if eq .patient.Urgency 4 }}أحتاجهم غداً في أي وقت{{end}}
                            {{ if eq .patient.Urgency 3 }}أحتاجهم غداً باكراً{{end}}
                            {{ if eq .patient.Urgency 2 }}أحتاجهم اليوم{{end}}
                            {{ if eq .patient.Urgency 1 }}أحتاجهم الآن{{end}}
                        </strong></p>
                        <br>
                        <p>ملاحظات: {{ .patient.Notes }}</p>
                        <p><strong>
                            {{ if eq .patient.Transportation "taxi" }}يمكنني دفع مقابل سيارة أجرة للمتبرّع{{end}}
                            {{ if eq .patient.Transportation "car" }}يمكنني توصيل المتبرّع بالسيارة{{end}}
                        </strong></p>
                        <br>
                        <p class="text-muted small mt-2">آخر تحديث: <strong>{{ .patient.UpdatedAt.Format "2006.01.02 | 15:04" }}</strong></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body text-right">
                        <h5 class="card-title"><strong>معلومات المتبرّع</strong></h5>
                        <h2>{{ .donor.LatinName }}</h2>
                        <p>زمرة الدم: <a href="#" class="btn btn-primary">{{ .donor.BloodType }}</a></p>
                        <p>العنوان: <strong>{{ .donor.Address.DistrictName}}</strong></p>
                        <p>
                            {{ if eq .donor.Transportation "public" }}أستخدم المواصلات العامّة{{end}}
                            {{ if eq .donor.Transportation "taxi" }}أستخدم سيارة الأُجرة{{end}}
                            {{ if eq .donor.Transportation "car" }}أستخدم سيارتي{{end}}
                        </p>
                        <p>عدد مرّات التبرّع سابقاً: <strong>{{ .donor.Score }}</strong></p>
                        <a href="/update_donor/{{ .donor.ID }}" class="btn btn-primary" style="background-color: #ED5565;border-color: gray;">تعديل</a>
                        <p class="text-muted small mt-2">آخر تحديث: <strong>{{ .donor.UpdatedAt.Format "2006.01.02 | 15:04" }}</strong></p>
                    </div>
                </div>
            </div>
        </div> 
        <div class="text-center mb-4">
            <a href="/donated/{{ .donor.ID }}" class="btn btn-primary" style="background-color: green;">تــــــمّ الـــتـــبـــرّ ع</a>
        </div>
        <div class="text-center">
        <p>تاريخ الطلب: <strong>{{ .request.CreatedAt.Format "2006.01.02 | 15:04" }}</strong></p>
        </div>
        <div class="text-center text-muted small">
            آخر تحديث: <strong>{{ .request.UpdatedAt.Format "2006.01.02 | 15:04" }}</strong>
        </div>
    </div>


    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
</body>
</html>