<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scheduled Requests - Blood Donation App</title>
</head>
<body>
    <!-- Include the header -->
    {{ template "dash_header.html" . }}
    <main>
        <section>
            <h2>Scheduled Requests</h2>
            <table>
                <thead>
                    <tr>
                        <th>رقم الطلب</th>
                        <th>رقم المريض</th>
                        <th>اسم المريض</th>
                        <th>زرمة الدّم</th>
                        <th>رقم المريض</th>
                        <th>المدّة بين الطلبات</th>
                        <th>كمّيّة الطلبات</th>
                        <th>اسم المرض</th>
                        <th>تاريخ الطلب التالي</th>
                        <th>الطلبات المحقّقة</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .requests }}
                    <tr>
                        <td>{{ .ID }}</td>
                        <td>{{ .PatientID }}</td>
                        <td>{{ .LatinName }}</td>
                        <td>{{ .BloodType }}</td>
                        <td>{{ .PhoneNumber }}</td>
                        <td>{{ .RequestInterval }} يوم</td>
                        <td>{{ .RequestFrequency }}</td>
                        <td>{{ .DiseaseName }}</td>
                        <td>{{ .NextRequestDate.Format "2006.01.02" }}</td>
                        <td>{{ .RequestsSent }}</td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </section>
    </main>
</body>
</html>