<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تعديل معلومات المتبرّع - تطبيق التبرع بالدم</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <!-- Include the header -->
    {{ template "dash_header.html" . }}

    <main>
        <section>
            <h2>تعديل معلومات المتبرّع</h2>

            <!-- Delete Donor -->
            <form id="deleteDonorForm" action="/donor/{{ .donor.ID }}" method="POST" style="box-shadow: none; background-color: aliceblue;">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="btn btn-danger" style="background-color: rgb(150, 0, 0);">حذف المتبرّع</button>
            </form>

            <!-- Update Donor -->
            <form id="updateDonorForm" action="/donor/{{ .donor.ID }}" method="PUT">
                <label for="latin_name">الاسم:</label>
                <input type="text" id="latin_name" name="LatinName" value="{{ .donor.LatinName }}" required>

                <label for="phone">رقم الهاتف:</label>
                <input type="text" id="phone" name="phone" value="{{ .donor.PhoneNumber }}" style="direction: ltr;" required>

                <label for="bloodType">فصيلة الدم:</label>
                <select id="bloodType" name="bloodType" required>
                    <option value="A+" {{ if eq .donor.BloodType "A+" }}selected{{ end }}>A+</option>
                    <option value="A-" {{ if eq .donor.BloodType "A-" }}selected{{ end }}>A-</option>
                    <option value="B+" {{ if eq .donor.BloodType "B+" }}selected{{ end }}>B+</option>
                    <option value="B-" {{ if eq .donor.BloodType "B-" }}selected{{ end }}>B-</option>
                    <option value="AB+" {{ if eq .donor.BloodType "AB+" }}selected{{ end }}>AB+</option>
                    <option value="AB-" {{ if eq .donor.BloodType "AB-" }}selected{{ end }}>AB-</option>
                    <option value="O+" {{ if eq .donor.BloodType "O+" }}selected{{ end }}>O+</option>
                    <option value="O-" {{ if eq .donor.BloodType "O-" }}selected{{ end }}>O-</option>
                </select>
                
                <label for="districtName">العنوان:</label>
                <input type="text" id="districtName" name="DistrictName" placeholder="İlçe" value="{{ .donor.Address.DistrictName }}" required>

                <label for="transportation">وسيلة التنقّل</label>
                <select id="transportation" name="Transportation" required>
                    <option value="public" {{ if eq .donor.Transportation "public" }}selected{{ end }}>أستخدم المواصلات العامّة</option>
                    <option value="taxi" {{ if eq .donor.Transportation "taxi" }}selected{{ end }}>أستخدم سيارة الأُجرة</option>
                    <option value="car" {{ if eq .donor.Transportation "car" }}selected{{ end }}>أستخدم سيارتي</option>
                </select>

                <label fir="redTimer">تاريخ التبرّع بالدم الأحمر القادم:</label>
                <input type="date" id="redTimer" name="RedTimer" value="{{ .donor.RedTimer.Format "2006-01-02" }}">

                <label fir="plateletTimer">تاريخ التبرّع بالصفائح الدمويّة القادم:</label>
                <input type="date" id="plateletTimer" name="PlateletTimer" value="{{ .donor.PlateletTimer.Format "2006-01-02" }}">

                <label for="score">النقاط:</label>
                <input type="number" id="score" name="Score" value="{{ .donor.Score }}">

                <button type="submit">حفظ</button>
        </section>
    </main>
    <script>
        document.getElementById('deleteDonorForm').addEventListener('submit', function(e) {
            if (!confirm('هل أنت متأكد أنك تريد حذف هذا المتبرّع؟')) {
                e.preventDefault();
            }
        });
    </script>
</body>
</html>