<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <!-- تضمين الرأس -->
    {{ template "dash_header.html" . }}

    <div class="container mt-5">
        <h1 class="mb-4 text-center">{{ .title }}</h1>
        <div class="row">
            {{ range .patients }}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body text-right">
                        <h5 class="card-title"><strong>{{ .LatinName }}</strong></h5>
                        <p class="card-text">رقم الهاتف: <a href="https://wa.me/{{.PhoneNumber}}" dir="ltr" target="_blank" class="btn btn-primary" style="background-color: green;border-color: greenyellow;">{{ .PhoneNumber }}</a></p>
                        <p class="card-text">زمرة الدم: <strong>{{ .BloodType }}</strong></p>
                        <p class="card-text">المشفى: <strong>{{ .Address.HospitalName }}</strong></p>
                        <p class="card-text">التنقّل: <strong>
                            {{ if eq .Transportation "taxi" }}يمكنني دفع مقابل سيارة أجرة للمتبرّع{{end}}
                            {{ if eq .Transportation "car" }}يمكنني توصيل المتبرّع بالسيارة{{end}}
                        </strong></p>
                        <p class="card-text">عدد أكياس الدم الحمراء المحتاجة: <strong>{{ .RedRequired }}</strong></p>
                        <p class="card-text">عدد أكياس الصفيحات المحتاجة: <strong>{{ .PlateletRequired }}</strong></p>
                        <p class="card-text">القرابة: <strong>
                            {{ if eq .Relationship "self" }}المريض نفسه{{ end }}
                            {{ if eq .Relationship "family" }}أحد أفراد العائلة{{ end }}
                            {{ if eq .Relationship "friend" }}صديق{{ end }}
                            {{ if eq .Relationship "other" }}آخر{{ end }}
                        </strong></p>
                        <p class="card-text">كود الهلال الأحمر: {{ .RedCrescentCode }}</p>
                        <a href="/update_patient/{{ .ID }}" class="btn btn-primary" style="background-color: #ED5565;border-color: gray;">تعديل</a>
                        <a href="/match/{{ .ID }}" class="btn btn-primary">بحث عن متبرّعين</a>
                        {{ if eq .RequestsSent 0 }}
                        <p class="btn btn-primary mb-0 mr-2" style="background-color: gray;">{{ .RequestsSent }}</p>
                        {{ else if and (gt .RequestsSent 0) (lt .RequestsSent 10) }}
                        <p class="btn btn-primary mb-0 mr-2" style="background-color: orange;">{{ .RequestsSent }}</p>
                        {{ else if ge .RequestsSent 10 }}
                        <p class="btn btn-primary mb-0 mr-2" style="background-color: green;">{{ .RequestsSent }}</p>
                        {{ end }}
                        <p class="card-text mt-2"><small class="text-muted">آخر تحديث: {{ .UpdatedAt.Format "2006-01-02 | 15:04" }}</small></p>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
    <br>
    <div class="container mt-5">
        <h1 class="mb-4 text-center">الطلبات المجدولة</h1>
        <div class="row">
            {{ range .schedualedRequests }}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body text-right">
                        <h5 class="card-title"><strong>{{ .LatinName }}</strong></h5>
                        <p class="card-text">رقم الهاتف: <a href="https://wa.me/{{.PhoneNumber}}" dir="ltr" target="_blank" class="btn btn-primary" style="background-color: green;border-color: greenyellow;">{{ .PhoneNumber }}</a></p>
                        <p class="card-text">زمرة الدم: <strong>{{ .BloodType }}</strong></p>
                        <p class="card-text">عدد أكياس الدم الحمراء المحتاجة: <strong>{{ .RedRequired }}</strong></p>
                        <p class="card-text">عدد أكياس الصفيحات المحتاجة: <strong>{{ .PlateletRequired }}</strong></p>
                        <p class="card-text">تاريخ الطلب القادم: <strong>{{ .NextRequestDate.Format "2006.01.02 | 15:04" }}</strong></p>
                        <p class="card-text"><small class="text-muted">آخر تحديث: {{ .UpdatedAt.Format "2006.01.02 | 15:04" }}</small></p>
                        <form id="performRequestForm-{{ .ID }}" action="/perform-schedualed-request/{{ .ID }}" method="POST" style="display:inline; box-shadow: none;">
                            <button type="submit" class="btn btn-primary">بدء الطلب</button>
                        </form>
                        <script>
                            document.getElementById('performRequestForm-{{ .ID }}').addEventListener('submit', function(e) {
                                e.preventDefault();
                                const form = this;
                                fetch(form.action, {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json'
                                    }
                                })
                                .then(response => response.json())
                                .then(data => {
                                    if (data.error) {
                                        alert(data.error);
                                    } else {
                                        alert('Schedualed request performed successfully');
                                        window.location.reload();
                                    }
                                })
                                .catch(error => console.error('Error:', error));
                            });
                        </script>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>